<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>D3 WebRTC Example: Driver</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <script src="https://webrtchacks.github.io/adapter/adapter-latest.js" defer></script>
    <script src="/driver.js" defer></script>
  </head>
  <body>
    <header>
      <h1>D3 WebRTC Example: Driver</h1>
      <p>Open on the robot GUI: <input type="text" value="https://slow-whip-log.glitch.me/robot" size="40"></p>
    </header>

    <main>
      <div class="streams">
        <video id="localVideo" autoplay muted></video>
        <video id="remoteVideo" autoplay muted style="width: 480px;"></video>
      </div>
      <input type="button" value="Say Hello" onclick="socket.send('Hello from driver')">
      <input type="button" value="Start Camera" onclick="startWebcam()">
      <input type="button" value="Call" onclick="startCall()">
      <div id="logs"></div>
    </main>
    
    <footer>Made with <a href="https://glitch.com">Glitch</a>!</footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:2em;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
